body {
    margin: 0;
}

.nav {
    background-color: rgb(68, 68, 68);
    width: 100vw;
    height: 10vh;
}

.main {
    background-color: rgb(216, 216, 216);
    width: 100vw;
    height: 90vh;
}

.main-body {
    background-color: rgb(239, 239, 239);
    margin: 0 10vw 0;
    height: 80vh;
}

.main-footer {
    background-color: rgb(33, 33, 33);
    margin: 0 10vw 0;
    height: 10vh;
}